<h2>Hello,</h2>
<p>My name is Jakub and I am an indie game developer from Poznań, Poland. 
  Currently I am working on my own couch game. 
  If you'd like to work together with me feel free to mail me! </p>

<h2>Game/design skills:</h2>
<ul>
  <li>Unity3D</li>
  <li>Blender + Retopoflow plugin (for retopology)</li>
  <li>Zbrush (Core)</li>  
</ul>

<h2>Other:</h2>
<ul>
  <li>C#/Xamarin </li>
  <li>Python/Django</li>
  <li>JavaScript/VueJS</li>
  <li>PostgreSQL</li>
</ul>


<hr />

<!-- <ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul> -->
